# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Ambiente
.venv
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos de mídia
media/
staticfiles/

# Banco de dados local
db.sqlite3